.igraphic-header {

	@extend %centercolumn;
	@include rhythm(0, 3/2, 0, 0);

	.hed {
		@include rhythm(0, 0, 0, 0);
		color: rgb(47, 47, 47);
		font-family: $serifSuperStrong;
		@include adjust-font-size-to($s8, 2);
		text-align: center;
	}

	hr {
		@include leading-border(10px);
		border-color: rgb(47, 47, 47);
		width: 5em;
		margin-left: auto;
		margin-right: auto;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

	.subhed {
		@include rhythm(0, 0, 0, 1);
		color: rgb(47, 47, 47);
		font-family: $serif;
		@include adjust-font-size-to($s5);
		@include adjust-leading-to(1);
	}

}