/* full width content ----------------------------------------------------- */
.section-nav {
	display: none;
}

.article {
	float: none;
	width: 100%;
	margin: 0;

	/* hide default byline date ----------------------------------------------- */
	> .byline {
		display: none;
	}
}



/* hide asides ------------------------------------------------------------ */
.aside {
	display:none;
}



/* style subtitle --------------------------------------------------------- */
#gf p.subtitle {
	font-family: $serifStrong;
	@include adjust-font-size-to(20px, 1.25);
}



/* hide top yellow bar --------------------------------------------------------- */
a.global-bar,
a.bar-yellow {
	display: none !important;
}