$sansSerif: Helvetica, Arial, sans-serif;
$sansSerifStrong: "Benton Sans Bold", Helvetica, Arial, sans-serif;

$serif: Georgia, "Times New Roman", Times, serif;
$serifStrong: "Miller Headline Roman", "Times New Roman", Times, Georgia, serif;
$serifSuperStrong: "Miller Headline Bold", "Times New Roman", Times, Georgia, serif;

$s0: 5px;
$s1: 7px;
$s2: 9px;
$s3: 12px;
$s3p5: 14px;
$s4: 16px;
$s5: 21px;
$s5p5: 24px;
$s6: 28px;
$s7: 37px;
$s8: 50px;
$s9: 67px;
$s10: 83px;
