$sansSerif: Helvetica, Arial, sans-serif;
$sansSerifStrong: "Benton Sans Bold", Helvetica, Arial, sans-serif;

$serif: Georgia, "Times New Roman", Times, serif;
$serifStrong: "Miller Headline Roman", "Times New Roman", Times, Georgia, serif;