<!DOCTYPE html>
<!--[if IE 7 ]> <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <script type="text/javascript">
    var methode = {};
    methode.freeviewCount = 1;
    methode.freeviewCountIncremented = true;
    methode.showPaywall = false;
    methode.subscribed = false;
    </script>
    <!-- / -->
    <title>graphic</title>
    <!-- Methode uuid: "7deabee4-2764-11e4-b51f-ca6ad698bf69" -->
    <meta name="eomportal-instanceid" content="16" />
    <meta name="eomportal-id" content="2137634" />
    <meta name="eomportal-loid" content="3.3.636124487" />
    <meta name="eomportal-uuid" content="7deabee4-2764-11e4-b51f-ca6ad698bf69" />
    <meta name="eomportal-lastUpdate" content="Mon Sep 22 17:13:00 EDT 2014" />
    <meta property="og:latitude" content="42.3584308" />
    <meta property="og:longitude" content="-71.0597732" />
    <meta property="og:city" content="Boston" />
    <meta property="og:state" content="MA" />
    <meta property="og:country" content="US" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="In study after study, Boston is lauded as one of the best cities in the country for pedestrians. But a clear picture of how dangerous the city is for those walking among the cars has been impossible to come by, because of the owing to Boston Police Department’s longstanding refusal to provide data on pedestrian accidents crashes to the Massachusetts Department of Transportation. MassDOT." />
    <meta property="og:title" content="Some Boston pedestrian accidents aren&rsquo;t reported to the state - The Boston Globe" />
    <meta property="og:site_name" content="BostonGlobe.com" />
    <meta property="fb:admins" content="100001044693856,507486035" />
    <meta property="fb:app_id" content="103933749691726" />
    <meta property="article:publisher" content="https://www.facebook.com/globe" />
    <!-- sDate Sun Aug 25 00:01:00 EDT 2013-->
    <!-- eDate Mon Aug 26 23:59:00 EDT 2013-->
    <!-- current date is Mon Sep 22 17:13:00 EDT 2014-->
    <meta property="flashsale" id="flashsale" content="false" />
    <link rel="apple-touch-icon" href="//c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/bookmark-114.png" />
    <link rel="shortcut icon" type="image/gif" href="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/favicon.ico" />

    <!--[if gte IE 9 ]> 
    <meta name="application-name" content="Homepage"/>
    <meta name="msapplication-tooltip" content="This is the tooltip"/>
    <meta name="msapplication-starturl" content="/?comp=9"/>
    <![endif]-->

    <!--[if lte IE 8 ]>
    <meta name="application-name" content="Boston Globe"/> 
    <meta name="msapplication-TileColor" content="#000000"/> 
    <meta name="msapplication-TileImage" content="25a75e8d-4542-40a4-80aa-253aea7efc28.png"/> 
    <link rel="stylesheet" media="print" href="$configurationURI/Framework/css/globe-ie-print.css" type="text/css" />
    <![endif]-->

    <meta property="twitter:account_id" content="95431448" />
    <meta name="robots" content="noarchive" />
    <meta name="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="In study after study, Boston is lauded as one of the best cities in the country for pedestrians. But a clear picture of how dangerous the city is for those walking among the cars has been impossible to come by, because of the owing to Boston Police Department’s longstanding refusal to provide data on pedestrian accidents crashes to the Massachusetts Department of Transportation. MassDOT." />

    <meta name="keywords" content="traffic,fatalities,car crashes,pedestrian crashes,bicycles,dangerous intersections, Huy Nguyen,Transportation Department, Nestor Incorporated, National Highway Traffic Safety Administration, AARP, WalkBoston, Twitter, Washington Metropolitan Area Transit Authority,Nestor Incorporated|NEST|NASDAQ" />
    <meta name="news_keywords" content="traffic,fatalities,car crashes,pedestrian crashes,bicycles,dangerous intersections, Huy Nguyen,Transportation Department, Nestor Incorporated, National Highway Traffic Safety Administration" />

    <meta property="og:url" content="https://www.bostonglobe.com/metro/2014/08/18/some-boston-pedestrian-accidents-aren-reported-state/oY53CQ9ijoaPNF3gfIAQzL/story.html" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="BostonGlobe">



    <meta property="og:image" content="http://c.o0bg.com/rf/image_585w/Boston/2011-2020/2014/08/19/BostonGlobe.com/Metro/Images/greenhouse_26pedestrians-1_metroasdf.jpg" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/globe-basic.css" id="basic-css">
    <!--[if gte IE 6]><link href="/css/html5reset.css,globe-globals.css,globe-masthead.css,globe-nav.css,globe-nav-menus.css,globe-saved.css,globe-main.css,globe-footer.css,globe-print.css" rel="stylesheet"><![endif]-->
    <!--[if !IE]><link href="/css/html5reset.css,globe-globals.css,globe-masthead.css,globe-nav.css,globe-nav-menus.css,globe-saved.css,globe-main.css,globe-footer.css,globe-print.css" rel="stylesheet" media="only all"><![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/globe-trialHeaders.css" id="trial-banner-css">
    <script src="/js/lib/rwd-images.js,lib/respond.min.js,lib/modernizr.custom.min.js,globe-define.js,globe-controller.js"></script>
    <script type="text/javascript" title="https://iconizr.com | © 2014 Joschi Kuphal | MIT">
    ! function() {
        var a = window,
            b = a.document,
            c = arguments,
            d = "createElementNS",
            e = "http://www.w3.org/",
            f = "svg",
            g = function(a) {
                var g = b.getElementsByTagName("script")[0],
                    h = b.createElement("link");
                h.rel = "stylesheet", h.type = "text/css", h.href = c[1 * a | 2 * (b[d] && b[d](e + "2000/" + f, f).createSVGRect && b.implementation.hasFeature(e + "TR/SVG11/feature#Image", "1.1"))], g.parentNode.insertBefore(h, g)
            },
            h = new a.Image;
        h.onerror = function() {
            g(0)
        }, h.onload = function() {
            g(1 === h.width && 1 === h.height)
        }, h.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
    }("/css/icon-png-sprite.css", "/css/icon-png-data.css", "/css/icon-svg-sprite.css", "/css/icon-svg-data.css");
    </script>

    <noscript>
        <link href="/css/icon-png-sprite.css" rel="stylesheet" type="text/css" media="all">
    </noscript>


    <script src="   /js/lib/jquery.js,lib/magnific.js,globe-modal-meter.js,globe-newsletter.js?v=2.3"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/html5reset.css,globe-globals.css,globe-masthead.css,globe-nav.css,globe-nav-menus.css,globe-saved.css,globe-main.css,globe-footer.css,globe-trialHeaders.css,modal-login.css,globe-polldaddy.css,article.css,gallery.css,shame.css,state.css?v=2.3
" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/globe-print.css?v=2.3
" />
    <link rel="stylesheet" type="text/css" href="http://cache.boston.com/multimedia/graphics/projectFiles/lib/css/0.0.3/common.css" />
    <link rel="stylesheet" type="text/css" href="http://cache.boston.com/multimedia/graphics/projectFiles/lib/css/0.0.3/igraphic.css" />
    @@include('html/css.html')
    <!-- webtype is story section is  adPageType graphic oas_sitepage /metro/homepage-->

    <!-- taxonomy: News/US/Massachusetts rank: 46000 lowestRank: 46000 section: /metro -->
    <!--  lowestRank: 46000 taxonomy: News/US/Massachusetts section: /metro -->

    <!-- admode:  smode  -->
    <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
        var gads = document.createElement("script");
        gads.async = true;
        gads.type = "text/javascript";
        var useSSL = "https:" == document.location.protocol;
        gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
        var node = document.getElementsByTagName("script")[0];
        node.parentNode.insertBefore(gads, node);
    })();
    </script>



    <script>
    globe.dfp.keyValuePairs = {
        s1: 'bostonglobe.com',
        s2: 'metro',
        s3: '',
        s4: '',
        pgtype: 'graphic',
        pageurl: '_metro_2014_08_18_some-boston-pedestrian-accidents-aren-reported-state_oY53CQ9ijoaPNF3gfIAQzL_igraphic_html',
        freetrial: "n",
        logstat: "n",
        sub: "n",
        meta: "traffic,fatalities,car_crashes,pedestrian_crashes,bicycles,dangerous_intersections",
        weather: "",
        temp: ""
    }
    globe.dfp.adUnit = 'bostonglobe.com/metro';
    </script>
    <script src="//cdn.optimizely.com/js/124489811.js"></script>
    <script type="text/javascript">
    var aam_optimizely = function(data) {
        var json = JSON.stringify(data, undefined, 2),
            obj = JSON && JSON.parse(json) || window.jQuery.parseJSON(json);

        for (var i = 0; i < obj.stuff.length; i++) {
            var current = obj.stuff[i];

            if (current.cn == "aam_optimizely") {
                var audiences = current.cv;
                if (audiences) {
                    window['optimizely'] = window['optimizely'] || [];
                    var segArray = audiences.split('aam=')[1].
                    split(',');

                    for (var j = 0; j < segArray.length; j++) {
                        window['optimizely'].push(['addToSegment', segArray[j]]);
                        window['optimizely'].push(['trackEvent', window.location.href]);
                    }
                }
            }
        }
    }
    var getAudiences = function() {
        var url = 'http://bostonglobe.demdex.net/event?d_stuff=1&d_dst=1&d_rtbd=json&d_cb=aam_optimizely';
        var tempScriptTag = document.createElement('script');

        tempScriptTag.type = 'text/javascript';
        tempScriptTag.src = url;
        document.head.appendChild(tempScriptTag);
    }
    getAudiences();
    </script>
</head>

<body itemscope itemtype="http://schema.org/WebPage" class="type-internal type-article section-metro metro type-metro">


    <!-- empty statusBar  -->
    <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113960&p1=BGMessageBar" class="global-bar bar-yellow" onClick="var s=s_gi('nytbostonglobecom,nytbgglobal');s.tl(this,'o','BG Header - Smart Bar');">   
            You can now read 10 articles in a month for free on BostonGlobe.com. Read as much as you want anywhere and anytime for just 99¢.
</a>
    <div id="contain">

        <!-- Page header -->
        <div class="masthead-spacer"></div>
        <header id="masthead" role="banner">
            <h2 class="logo-bg">
                <a href="/">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/logo-bg.png" alt="The Boston Globe" />
                </a>
            </h2>

            <h1 class="section">
                <a href="/metro">Metro</a>
            </h1>
            <div class="bg-high-value">
                <p>
                    <a class="bostoncom" href="http://www.boston.com/?p1=BGHeader_NonHP_BComLogo">
                        <b>Boston.com</b>
                    </a>
                </p>

                <div class="bg-classifieds mini-menu">
                    <nav>
                        <p class="title">
                            Classifieds
                            <i>:</i>
                        </p>

                        <ul>
                            <li>
                                <a href="http://www.boston.com/cars/?p1=BGHeader_NonHP_Cars">Cars</a>
                            </li>
                            <li>
                                <a href="http://www.boston.com/jobs/?p1=BGHeader_NonHP_Jobs">Jobs</a>
                            </li>
                            <li class="last">
                                <a href="http://www.boston.com/realestate/?p1=BGHeader_NonHP_RE">Real Estate</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /end .classifieds -->
            </div>
            <!-- /end .bg-high-value -->

            <nav class="utils">
                <p class="a11y-only no-border"><a class="top" href="/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp?p1=BGHeader_LogIn" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar27,events';s.linkTrackEvents='event15';s.eVar27='BG Header';s.events='event15';s.tl(this,'o','BG Header - Log In');">Log In</a>
                </p>
                <ul>
                    <li class="headerSubscribeTag no-border">Subscribe:</li>
                    <li class="headerSubscribe mobile-consolidated"><a href="http://digitalaccess.bostonglobe.com/da/2/1?eglobe_rc=WW111946&amp;globe_rc=WW111947&amp;p1=BGHeader_DigitalSubscription" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar25,events';s.linkTrackEvents='event13';s.eVar25='BG Header';s.events='event13';s.tl(this,'o','BG Header - Subscribe');">Subscribe</a>
                    </li>
                    <li class="headerSubscribe"><a href="http://digitalaccess.bostonglobe.com/da/2/1?eglobe_rc=WW111946&amp;globe_rc=WW111947&amp;p1=BGHeader_DigitalSubscription" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar25,events';s.linkTrackEvents='event13';s.eVar25='BG Header';s.events='event13';s.tl(this,'o','BG Header - Subscribe');">Digital</a>
                    </li>
                    <li class="headerSubscribe"><a href="http://homedelivery.bostonglobe.com/hd/control/order/zip/?rc=WW011964&amp;p1=BGHeader_HomeDeliverySubscription" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar25,events';s.linkTrackEvents='event13';s.eVar25='BG Header';s.events='event13';s.tl(this,'o','BG Header - Subscribe');">Home Delivery</a>
                    </li>
                    <li class="my-account logged-out"><a class="top" href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp?p1=BGHeader_LogIn" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar27,events';s.linkTrackEvents='event15';s.eVar27='BG Header';s.events='event15';s.tl(this,'o','BG Header - Log In');">Log In</a>
                    </li>
                </ul>
            </nav>
            <div class="nav-primary">
                <form action="/search" class="search bg-search-primary" method="post">
                    <fieldset>
                        <label for="q">
                            Search
                        </label>
                        <div class="search-inputs">
                            <div>
                                <input type="text" class="search" name="search" id="q" placeholder="Search" />
                                <input type="submit" class="submit" value="Go" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- /end form.search -->
                <!-- root expanded -->
                <nav class="sections" data-menu-content="/Fragment/SysConfig/WebPortal/BostonGlobe/Framework/ajaxsamples/global-nav-menus.jpt">
                    <h2 class="sections-heading">Sections</h2>
                    <ul>
                        <li class="news" data-section="news">
                            <a href="/">News</a>
                        </li>
                        <li class="metro active" data-section="metro">
                            <a href="/metro">Metro</a>
                        </li>
                        <li class="arts" data-section="arts">
                            <a href="/arts">Arts</a>
                        </li>
                        <li class="business" data-section="business">
                            <a href="/business">Business</a>
                        </li>
                        <li class="sports" data-section="sports">
                            <a href="/sports">Sports</a>
                        </li>
                        <li class="opinion" data-section="opinion">
                            <a href="/opinion">Opinion</a>
                        </li>
                        <li class="politics" data-section="politics">
                            <a href="/news/politics">Politics</a>
                        </li>
                        <li class="lifestyle" data-section="lifestyle">
                            <a href="/lifestyle">Lifestyle</a>
                        </li>
                        <li class="magazine" data-section="magazine">
                            <a href="/magazine">Magazine</a>
                        </li>
                        <li class="insiders" data-section="insiders">
                            <a href="/insiders">Insiders</a>
                        </li>
                        <li class="todayspaper" data-section="todayspaper">
                            <a href="/todayspaper">Today's Paper</a>
                        </li>
                        <!-- <li class="my-saved"> <a href="/mysaved"><span class="count"><span>&nbsp;</span></span> 
                    My Saved</a> </li> -->
                    </ul>
                    <h2 class="todays-paper">
                        <a href="/todayspaper">Today&#8217;s Paper</a>
                    </h2>
                    <!-- <h2 class="my-saved"><a href="/mysaved"><span class="count"><span>&nbsp;</span></span> 
                My Saved</a></h2> -->
                </nav>
            </div>
            <nav id="sectionnav-metro" class="section">
                <ul>

                    <li class="" data-section="">
                        <a href="http://www.boston.com/bostonglobe/numbers/lottery.html">Lottery</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/obituaries">Obituaries</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/regionals/north">Globe North</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/regionals/south">Globe South</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/regionals/west">Globe West</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/gettingin">Getting In</a>
                    </li>

                </ul>
            </nav>
        </header>
        <!-- Page header ends -->


        <!-- Graphic Generation 3 -->
        <!-- edtype = News -->
        <div class="mod live-update">
        </div>

        <main id="main" role="main" class="eptClick">
            <article class="article--full-width">

                <!-- In Story Photo Section -->
                <div class="article">
                    <!--  Headline Section -->
                    <!-- test 3 -->
                    <header>
                        <div class="header new">
                            <p class="hed-cat">
                            </p>
                            <h1 class="main-hed">Most Boston pedestrian accidents go unreported</h1>
                            <h2 class="subhed">Lack of information puts crimp in safety efforts</h2>
                        </div>
                        <!-- byline section -->
                        <div class="byline">
                            <h2 class="author">
                                <!---->By Nestor Ramos</h2>

                            &nbsp;|&nbsp;Globe staff
                            <!-- web pub date August 19, 2014 -->

                            &nbsp; August 19, 2014</p>
                        </div>







                        <nav class="bg-nav--back--related">
                            <a href="story.html?p1=Article_Facet_Related_Article" class="bg-button--hollow">
                                <span class="bg-symbol">&#8592;</span>Related Article</a>
                        </nav>
                    </header>


                    <div class="article-body">
                        <!-- position:Top -->
                        <!-- uuid: 8496f066-2744-11e4-873f-dc6ad384b084 -->
                        <!--
METADATA FOR EMTAF
      <headline>Most Boston pedestrian accidents go unreported</headline>
      <source>Globe staff</source>
      <teasetext>The state&rsquo;s records on pedestrian accidents in Boston capture only a fraction of such accidents here, putting a crimp in safety efforts.</teasetext>
      <byline>By Nestor Ramos</byline>
      <date>20140819040000</date>
-->

                        <aside class="tools">
                            <ul class="Top tools primary-tools">
                                <li class="share-button email">
                                    <a class="social-icon email" href="#" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','ArticleTools_Email_Top');"></a>
                                    <div class="email-form">
                                        <h4>Share via e-mail</h4>
                                        <div class="email-error"></div>
                                        <form action="" method="post">
                                            <input type="hidden" id="story_url" name="story_url" value="http://www.bostonglobe.com/metro/2014/08/18/some-boston-pedestrian-accidents-aren-reported-state/oY53CQ9ijoaPNF3gfIAQzL/story.html" />
                                            <p>
                                                <label for="email-to-primary-Top">To</label>
                                                <input type="text" name="email-to-primary" id="email-to-primary-Top" placeholder="Separate multiple addresses with a comma" />
                                            </p>
                                            <p>
                                                <label for="email-mssg-primary-Top">Add a message</label>
                                                <textarea name="email-mssg-primary" id="email-mssg-primary-Top" maxlength="80" placeholder="80 character limit"></textarea>
                                            </p>
                                            <p>
                                                <label for="email-from-primary-Top">Your e-mail</label>
                                                <input type="text" name="email-from-primary" id="email-from-primary-Top" />
                                            </p>
                                            <input type="submit" value="Send" class="bg-button" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','ArticleTools_Send_Top');" />
                                        </form>
                                    </div>
                                    <!-- /end .email-form -->

                                </li>
                                <!-- /end li.email -->
                                <li class="share-button">
                                    <a class="social-icon fb" data-omniture="BG Article Share Tools - Facebook - Top" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25&amp;t=Most+Boston+pedestrian+accidents+go+unreported" target="_blank"></a>
                                </li>
                                <li class="share-button">
                                    <a class="social-icon tw" data-omniture="BG Article Share Tools - Twitter - Top" href="http://twitter.com/intent/tweet?text=Most+Boston+pedestrian+accidents+go+unreported&amp;url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25&amp;via=BostonGlobe" target="_blank"></a>
                                </li>
                                <li class="share-button">
                                    <a class="social-icon goog" data-omniture="BG Article Share Tools - Google+ - Top" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25%26s_campaign%3dsm_gp%26hl=en-US" target="_blank" title="Share on Google+"></a>
                                </li>
                                <li class="share-button">
                                    <a class="social-icon linkedin" data-omniture="BG Article Share Tools - Linkedin - Top" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25&amp;title=Most+Boston+pedestrian+accidents+go+unreported&amp;summary=The+state%26rsquo%3Bs+records+on+pedestrian+accidents+in+Boston+capture+only+a+fraction+of+such+accidents+here%2C+putting+a+crimp+in+safety+efforts." target="_blank"></a>
                                </li>
                                <li class="share-button"> <a class="social-icon print" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','ArticleTools_Print_Top')" href="javascript:print();">Print</a> 
                                </li>
                            </ul>
                            <a href="#comments" class="js-comments-toggle" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','Article_Comments_Top');">
                                <span class="bg-icon-comment-mid bg-icon--small"></span>
                                <span class="js-comment-count"></span>
                                <span class="js-comment-count-label">Comments</span>
                            </a>

                        </aside>
                        <div class="sticky-tools">
                            <a class="sticky-tools__button sticky-tools__button--home" href="/">
                                <span>The Boston Globe</span>
                            </a>
                            <a class="sticky-tools__button sticky-tools__button--share tw" data-omniture="BG Article Share Tools - Twitter - Sticky" href="http://twitter.com/intent/tweet?text=Most+Boston+pedestrian+accidents+go+unreported&amp;url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25%3Fevent%3Devent25&amp;via=BostonGlobe" target="_blank">
                                <span>Tweet</span>
                            </a>
                            <a class="sticky-tools__button sticky-tools__button--share fb" data-omniture="BG Article Share Tools - Facebook - Sticky" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25%3Fevent%3Devent25&amp;tMost+Boston+pedestrian+accidents+go+unreported" target="_blank">
                                <span>Share</span>
                            </a>
                            <a class="sticky-tools__button sticky-tools__button--share whatsapp" data-omniture="BG Article Share Tools - Whatsapp - Sticky" href="whatsapp://send?text=Most+Boston+pedestrian+accidents+go+unreported&amp;url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25">
                                <span>WhatsApp</span>
                            </a>
                        </div>
                        <!-- Graphic Generation 3 -->
                        @@include('html/html.html')
                        @@include('html/js.html')

                        <!-- position:Bottom -->
                        <!-- uuid: 8496f066-2744-11e4-873f-dc6ad384b084 -->
                        <!--
METADATA FOR EMTAF
      <headline>Most Boston pedestrian accidents go unreported</headline>
      <source>Globe staff</source>
      <teasetext>The state&rsquo;s records on pedestrian accidents in Boston capture only a fraction of such accidents here, putting a crimp in safety efforts.</teasetext>
      <byline>By Nestor Ramos</byline>
      <date>20140819040000</date>
-->

                        <aside class="tools">
                            <ul class="Bottom tools primary-tools">
                                <li class="share-button email">
                                    <a class="social-icon email" href="#" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','ArticleTools_Email_Bottom');"></a>
                                    <div class="email-form">
                                        <h4>Share via e-mail</h4>
                                        <div class="email-error"></div>
                                        <form action="" method="post">
                                            <input type="hidden" id="story_url" name="story_url" value="http://www.bostonglobe.com/metro/2014/08/18/some-boston-pedestrian-accidents-aren-reported-state/oY53CQ9ijoaPNF3gfIAQzL/story.html" />
                                            <p>
                                                <label for="email-to-primary-Bottom">To</label>
                                                <input type="text" name="email-to-primary" id="email-to-primary-Bottom" placeholder="Separate multiple addresses with a comma" />
                                            </p>
                                            <p>
                                                <label for="email-mssg-primary-Bottom">Add a message</label>
                                                <textarea name="email-mssg-primary" id="email-mssg-primary-Bottom" maxlength="80" placeholder="80 character limit"></textarea>
                                            </p>
                                            <p>
                                                <label for="email-from-primary-Bottom">Your e-mail</label>
                                                <input type="text" name="email-from-primary" id="email-from-primary-Bottom" />
                                            </p>
                                            <input type="submit" value="Send" class="bg-button" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','ArticleTools_Send_Bottom');" />
                                        </form>
                                    </div>
                                    <!-- /end .email-form -->

                                </li>
                                <!-- /end li.email -->
                                <li class="share-button">
                                    <a class="social-icon fb" data-omniture="BG Article Share Tools - Facebook - Bottom" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25&amp;t=Most+Boston+pedestrian+accidents+go+unreported" target="_blank"></a>
                                </li>
                                <li class="share-button">
                                    <a class="social-icon tw" data-omniture="BG Article Share Tools - Twitter - Bottom" href="http://twitter.com/intent/tweet?text=Most+Boston+pedestrian+accidents+go+unreported&amp;url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25&amp;via=BostonGlobe" target="_blank"></a>
                                </li>
                                <li class="share-button">
                                    <a class="social-icon goog" data-omniture="BG Article Share Tools - Google+ - Bottom" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25%26s_campaign%3dsm_gp%26hl=en-US" target="_blank" title="Share on Google+"></a>
                                </li>
                                <li class="share-button">
                                    <a class="social-icon linkedin" data-omniture="BG Article Share Tools - Linkedin - Bottom" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.bostonglobe.com%2Fmetro%2F2014%2F08%2F18%2Fsome-boston-pedestrian-accidents-aren-reported-state%2FoY53CQ9ijoaPNF3gfIAQzL%2Fstory.html%3Fevent%3Devent25&amp;title=Most+Boston+pedestrian+accidents+go+unreported&amp;summary=The+state%26rsquo%3Bs+records+on+pedestrian+accidents+in+Boston+capture+only+a+fraction+of+such+accidents+here%2C+putting+a+crimp+in+safety+efforts." target="_blank"></a>
                                </li>
                                <li class="share-button"> <a class="social-icon print" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','ArticleTools_Print_Bottom')" href="javascript:print();">Print</a> 
                                </li>
                            </ul>
                            <nav class="bg-nav--back--related">
                                <a href="story.html?p1=Article_Facet_Related_Article" class="bg-button--hollow">
                                    <span class="bg-symbol">&#8592;</span>Related Article</a>
                            </nav>
                        </aside>
                    </div>
                </div>
            </article>
        </main>
        <!-- Page footer -->
        <footer class="bg-footer">
            <div class="lead">
                <nav>
                    <h1>Learn more</h1>
                    <ul>
                        <li><a href="https://digitalaccess.bostonglobe.com/da/2/1?eglobe_rc=WW111927&globe_rc=WW111945">Subscribe</a>
                        </li>
                        <li><a href="/insiders">Boston Globe Insiders</a>
                        </li>
                        <li><a href="http://epaper.bostonglobe.com/">EPaper Edition</a>
                        </li>
                        <li><a href="http://nieonline.com/bostonglobe/">News in education</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="sub">
                <nav>
                    <h1>My Account</h1>
                    <ul>
                        <li><a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp">Log in</a>
                        </li>
                        <li>
                            <a href="/mysaved">
                                <span class="count">
                                    <span>&nbsp;</span>
                                </span>My Saved List</a>
                        </li>
                        <li><a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/mc-login.jsp?redirect=manage">Manage home delivery</a>
                        </li>
                        <!-- BGLOBE-3350 in progress... -->
                        <li><a href="https://itunes.apple.com/us/app/boston-globe-customer-service/id842897634?mt=8">Manage on iPhone</a>
                        </li>
                    </ul>
                </nav>
                <nav class="even">
                    <h1>Contact</h1>
                    <ul>
                        <li><a href="https://bostonglobe.custhelp.com/app/home">Help</a>
                        </li>
                        <li><a href="https://bostonglobe.custhelp.com/app/answers/list">FAQs</a>
                        </li>
                        <li><a href="/tools/help/stafflist">Globe newsroom</a>
                        </li>
                        <li><a href="http://services.bostonglobe.com/advertiser/default.aspx">Advertise</a>
                        </li>
                    </ul>
                </nav>
                <nav class="opt">
                    <h1>Social</h1>
                    <ul>
                        <li><a href="https://www.facebook.com/globe">Facebook</a>
                        </li>
                        <li><a href="https://twitter.com/#!/BostonGlobe">Twitter</a>
                        </li>
                        <li><a href="https://plus.google.com/108227564341535363126/about">Google+</a>
                        </li>
                    </ul>
                </nav>
                <nav class="even last">
                    <h1>More</h1>
                    <ul>
                        <li><a href="https://secure.pqarchiver.com/boston-sub/no_default.html?ss=1&url=%2Fboston-sub%2Fadvancedsearch.html">Archives</a>
                        </li>
                        <li><a href="/tools/help/privacy">Privacy policy</a>
                        </li>
                        <li><a href="/tools/help/terms-service">Terms of service</a>
                        </li>
                        <li><a href="/tools/help/terms-purchase">Terms of purchase</a>
                        </li>
                        <li><a href="http://www.bostonglobe.com/2014/03/07/your-choices/dwLYdic9FdW82vCiUsS4eL/story.html">Your Ad Choices</a>
                        </li>
                        <li><a href="http://www.boston.com/digitaljobs/">Digital Jobs at Boston Globe Media</a>
                        </li>
                        <li><a href="https://services.bostonglobe.com/aboutus/career/default.aspx?id=7098">View All Jobs at BGM</a>
                        </li>
                    </ul>
                </nav>
                <p class="bg-copy">&copy; 2014 Boston Globe Media Partners, LLC</p>
            </div>
        </footer>
        <div style="display:none;">

            <!-- Start small meter popup - first story visit -->
            <div id="modal_1" class="meter-modal-block">
                <div class="meter-modal-sub-panel clearfix-firefox">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel">
                    <h2 class="meter-modal-text">Enjoy your first free article</h2>
                    <h1 class="meter-modal-text">
                        You can now read 10 free articles.
                        <br>
                        <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113959" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 1 Offer');">
                            </br>Get unlimited access</a>for just 99&cent;.
                    </h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->
            <!-- Start small meter popup - 5 articles -->
            <div id="modal_5" class="meter-modal-block">
                <div class="meter-modal-sub-panel clearfix-firefox">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel">
                    <h2 class="meter-modal-text">You have read
                        <span class="bold">5 of 10</span>free articles in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113962" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 5 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->

            <!-- Start small meter popup - 7 articles -->
            <div id="modal_7" class="meter-modal-block">
                <div class="meter-modal-sub-panel clearfix-firefox">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel">
                    <h2 class="meter-modal-text">You have read
                        <span class="bold">7 of 10</span>free articles in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113966" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 7 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->

            <!-- Start small meter popup - 9 articles -->
            <div id="modal_9" class="meter-modal-block">
                <div class="meter-modal-sub-panel">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel clearfix-firefox">
                    <h2 class="meter-modal-text">You have read
                        <span class="bold">9 of 10</span>free articles in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113968" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 9 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->

            <!-- Start small meter popup - 10 articles -->
            <div id="modal_10" class="meter-modal-block">
                <div class="meter-modal-sub-panel">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel clearfix-firefox">
                    <h2 class="meter-modal-text">This is your last free article in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113969" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 10 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->


            <div id="modal_takeover" class="white-popup-block paywall-square-meter">
                <div class="inner">
                    <div class="header-text">
                        <button title="Close (Esc)" type="button" class="mfp-close" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 2 - Close')">×</button>

                        <h1>Read it all, now.</h1>
                    </div>
                    <div class="tease-text">
                        <p>Don't miss any of your favorite stories again. Read the stories that matter to you as much as you want, whenever you want when you subscribe to BostonGlobe.com.</p>

                        <p class="meter-bold">Get full access today for just 99¢</p>

                    </div>
                    <div class="paywall-clearfix"></div>
                    <footer>

                        <div class="button-section">
                            <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113967" title="desktop" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 2 - Get Access Now')">
                                <button class="paywall-full-access-button">SIGN UP</button>
                            </a>
                        </div>
                        <div class="paywall-logo-img">
                            <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Globe-Logo-non-transparent.jpg">
                        </div>

                        <p>No thanks, <a href="#">take me to my article</a>.</p>

                        <p> <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" alt="mobile" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Login');">Subscribers log in here</a>
                        </p>




                    </footer>
                </div>
            </div>
        </div>


    </div>
    <div class="modal wrapper">
        <form id="modal-login" action="/Login" method="post" class="mfp-hide white-popup-block modal-login login-form" accept-charset="utf-8" data-init-psswrd>
            <h3>Subscriber Login</h3>
            <div id="modal-login-errors" class='errors hidden'>
                <div class="errorlist js-gen-error" id="form-error">
                    <div class="error-image"></div>
                    <div class="regi-error error-positioning">
                        The login information you entered does not match an account in our records.
                        <div style="clear:both"></div>
                        To activate FREE access as a home delivery subscriber <a href="https://services.bostonglobe.com/registration/globesub/welcome.aspx">start here.</a>
                        <div style="clear:both"></div>
                        If you don't have a subscription, you can view our <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113970 ">digital offers here.</a>
                    </div>
                </div>
            </div>
            <fieldset style="border:0;">
                <p>
                    <label class="modal-login">
                        E-mail address:
                    </label>
                    <input type="email" class="login" name="username" id="username" required>
                </p>
                <p>
                    <label class="modal-login">
                        Password:
                    </label>
                    <input type="password" class="login" name="password" id="password" data-psswrd-toggle required>
                </p>
                <span class="remember-checkbox">
                    <input type="checkbox" name="remember" checked id="rememberme" value="" class="remember">
                    <label for="rememberme" class="remember">Keep me logged in</label>
                </span>
                <p class="calls-to-action">
                    <input type="submit" value="Log in" id="mc-login-submit" class="bg-button modal-login" data-auth-analytics='{"linkTrackVars": "eVar27,events", "linkTrackEvents": "event15", "eVar27": "BG Login Page", "events": "event15", "linkName": "BG Login - Log In"}'>
                    <a href='/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/mc-forgot-password-step1.jsp' class="get-password">Forgot your password?</a>
                </p>
            </fieldset>
            <p>Home delivery subscribers get free access. <a href="https://services.bostonglobe.com/registration/globesub/welcome.aspx?p1=BGC_LoginPage_StartHere" data-auth-analytics='' onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Link Account');">Link Account</a>
                <p>Customer Service Number: 1.888.MY.GLOBE</p>
                <hr>
                <h4>Exclusive free trial offer</h4>
                <p>Receive free unlimited access to BostonGlobe.com for the next two weeks! <a href="https://digitalaccess.bostonglobe.com/da/54/?s_campaign=BGFreeTrial:2Week:ModalLogin">Get access</a>
                </p>
                </fieldset>
                <!--  Form redirects -->
                <input type="hidden" name="redirect" value="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/login-success.jpt" />
                <input type="hidden" name="onerror" value="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/login-error.jpt" />
        </form>
        <form id="forgot" class="mfp-hide white-popup-block modal-login login-form">
            <div class="modal-content-box">
                <h3>Forgot Password</h3>
                <div id="forgot-modal-errors" class='errors hidden'>
                    <div class="errorlist js-gen-error" id="form-error">
                        <div class="error-image"></div>
                        <div class="regi-error error-positioning">
                            <h4>E-mail address not found, please try again or contact customer service at 1-888-MYGLOBE</h4>
                        </div>
                    </div>
                </div>
                <div id="forgot-modal-success" class='errors hidden'>
                    <div class="errorlist js-gen-error" id="form-error">
                        <div class="regi-error error-positioning">
                            <h4>Please check your e-mail for a message from BostonGlobe.com with the subject line "BostonGlobe.com password request." Click the link in the e-mail to choose a new password for BostonGlobe.com, and note that your new password will also be used for your Boston.com membership.</h4>
                        </div>
                    </div>
                </div>
                <p>Enter your e-mail address below. We’ll send you an e-mail with a link to reset your password.</p>
                <p>
                    <label class="modal-login">E-mail Address</label>
                    <input type="text" class="login" id="regi_email" required>
                    <input type="submit" value="Reset" id="mc-password-submit" class="bg-button modal-login" data-auth-analytics='' onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','Reset password modal');">
                    <a class="popup-with-form get-password" href="#modal-login">Return to login</a>
                </p>
            </div>
            <!--  Form redirects -->
            <input type="hidden" name="redirect" value="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/login-success.jpt" />
            <input type="hidden" name="onerror" value="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/login-error.jpt" />
        </form>
    </div>
    <script src="/js/lib/psswrd.js"></script>


    <div id="meter-limit-met-popup" class="mfp-hide white-popup-block paywall-square-meter">

        <div class="paywall-section-1">
            <h1>You have reached the limit of 10 free articles in a month</h1>
            <p class="paywall-mobile-link">Continue reading by subscribing to BostonGlobe.com for <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113971" alt="mobile" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Offer');">just 99&cent;</a>.</p>

            <p class="paywall-desktop-link">Continue reading by subscribing to BostonGlobe.com for <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113971" alt="desktop" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Paywall Offer');">just 99&cent;</a>.</p>
        </div>
        <div class="paywall-section-2">
            <div class="list-section">
                <h2>Stay informed with unlimited access to Boston’s trusted news source.</h2>
                <ul>
                    <li>High-quality journalism from the region’s largest newsroom</li>
                    <li>Convenient access across all of your devices</li>
                    <li>Today’s Headlines daily newsletter</li>
                    <li>Subscriber-only access to exclusive offers, events, contests, eBooks, and more</li>
                    <li class="bold">Less than 25&#162; a week</li>
                </ul>
            </div>
            <!-- /list section -->

            <div class="image-section">
                <div class="paywall-main-device-img">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Device-LockUp-non-transparent.jpg">
                </div>
            </div>
            <!-- /image-section -->
        </div>
        <!-- /paywall-section-2 -->

        <div class="paywall-clearfix"></div>

        <div class="paywall-section-3">
            <div class="button-section">
                <a class="paywall-desktop-link" href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113972" alt="desktop" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Paywall Get Access');">
                    <button class="paywall-full-access-button">GET FULL ACCESS NOW</button>
                </a>

                <a class="paywall-mobile-link" href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113972" alt="mobile" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Get Access');">
                    <button class="paywall-full-access-button">GET FULL ACCESS NOW</button>
                </a>
            </div>
            <div class="logo-section">
                <div class="paywall-logo-img">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Globe-Logo-non-transparent.jpg">
                </div>
                <p class="paywall-desktop-link">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" alt="desktop" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Paywall Login');">Log In</a>
                </p>

                <p class="paywall-mobile-link">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" alt="mobile" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Login');">Log In</a>
                </p>
            </div>
            <!-- /logo-section -->
        </div>
        <!-- /paywall-section-3  -->
        <div class="paywall-clearfix"></div>

        <div class="paywall-section-4">
            <div class="paywall-main-device-img-bottom">
                <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Device-LockUp-Mobile-non-transparent.jpg">
            </div>
        </div>
        <!--  -->
    </div>
    <!-- end paywall modal -->

    <div class="ad ad-slot-c" id="EXTRA"></div>
    <!-- Tracking -->
    <!-- stubView3 =  -->
    <!-- Facet is igraphic trackingType Infographic trackingTypeExtension  -->



    <!--  Webtype is story -->










    <!-- sectionpath /metro -->



    <!-- Determine sprop_3 -->










    <!-- authors: Nestor Ramos -->


    <script>
    var sPageName = 'Metro | Some Boston pedestrian accidents aren\u2019t reported to the state | Infographic';
    var sChannel = 'Metro';
    var sProp1 = 'Metro';
    var sProp3 = 'Nestor Ramos';
    var sProp6 = 'Infographic';
    if (methode.showPaywall) {
        sChannel = 'Member Center';
        sProp1 = 'Member Center | BGC Registration';
        if ($(window).width() <= 768) {
            // assume mobile 
            sPageName = 'Member Center | BGC Registration | Fullpage Paywall Challenge';
            sProp6 = 'BGC Registration Page - Fullpage';
        } else {
            // assume desktop
            sPageName = 'Member Center | BGC Registration | Modal Paywall Challenge';
            sProp6 = 'BGC Registration Page - Modal';
        }
    }
    globe.extend(globe.analytics.omniture, {
        'pageType': '',
        'pageName': sPageName,
        'channel': sChannel,
        'prop1': sProp1,
        'prop3': sProp3,
        'prop6': sProp6,

        'prop35': 'logged out',
        'eVar20': 'logged out',
        'prop42': 'Metered',
        'eVar42': 'Metered',

        'eVar41': 'BostonGlobe.com',
        'prop41': 'BostonGlobe.com',
        'WT omnituretracking.tag': 'story'
    });
    </script>

    <noscript>
        <img src="http://newyorktimes.112.2o7.net/b/ss/nytbostonglobecom/1/H.23.3--NS/0?pageName=News%20%7C%20BGC%20Homepage&amp;ch=News&amp;c1=News%20%7C%20BGC%20Homepage&amp;c6=BGC%20Homepage&amp;c41=BostonGlobe.com&amp;v41=BostonGlobe.com" height="1" width="1" border="0" alt="" />
    </noscript>

    </div>
    <script type="text/javascript">
    setTimeout(function() {
        var a = document.createElement("script");
        var b = document.getElementsByTagName("script")[0];
        a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/1023.js?" + Math.floor(new Date().getTime() / 3600000);
        a.async = true;
        a.type = "text/javascript";
        b.parentNode.insertBefore(a, b)
    }, 1);
    </script>
</body>

</html>
