<!DOCTYPE html>
<!--[if IE 7 ]> <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
    var methode = {};
    methode.freeviewCount = 1;
    methode.freeviewCountIncremented = true;
    methode.showPaywall = false;
    methode.subscribed = false;
    </script>
    <!-- / -->
    <title><%= graphicName %></title>
    <!-- Methode uuid: "366807aa-1dc0-11e4-8733-4faa7274b16b" -->
    <!-- <meta name="eomportal-instanceid" content="16"/>
<meta name="eomportal-id" content="1056515"/>
<meta name="eomportal-loid" content="3.3.637545180"/>
<meta name="eomportal-uuid" content="366807aa-1dc0-11e4-8733-4faa7274b16b"/>
<meta name="eomportal-lastUpdate" content="Wed Oct 08 16:14:19 EDT 2014"/>
-->
    <meta property="og:type" content="article" />
    <meta property="og:description" content="" />
    <meta property="og:title" content="<%= graphicName %> - The Boston Globe" />
    <meta property="og:site_name" content="BostonGlobe.com" />
    <meta property="fb:admins" content="100001044693856,507486035" />
    <meta property="fb:app_id" content="103933749691726" />
    <meta property="article:publisher" content="https://www.facebook.com/globe" />
    <!-- sDate Sun Aug 25 00:01:00 EDT 2013-->
    <!-- eDate Mon Aug 26 23:59:00 EDT 2013-->
    <!-- current date is Wed Oct 08 16:14:19 EDT 2014-->
    <meta property="flashsale" id="flashsale" content="false" />
    <link rel="apple-touch-icon" href="//c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/bookmark-114.png" />
    <link rel="shortcut icon" type="image/gif" href="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/favicon.ico" />

    <!-- override sectionClass by workfolder-->
    <!-- override section by workfolder-->
    <!--[if gte IE 9 ]> 
    <meta name="application-name" content="Homepage"/>
    <meta name="msapplication-tooltip" content="This is the tooltip"/>
    <meta name="msapplication-starturl" content="/?comp=9"/>
    <![endif]-->

    <!--[if lte IE 8 ]>
    <meta name="application-name" content="Boston Globe"/> 
    <meta name="msapplication-TileColor" content="#000000"/> 
    <meta name="msapplication-TileImage" content="25a75e8d-4542-40a4-80aa-253aea7efc28.png"/> 
    <link rel="stylesheet" media="print" href="$configurationURI/Framework/css/globe-ie-print.css" type="text/css" />
    <![endif]-->

    <meta property="twitter:account_id" content="95431448" />
    <meta name="robots" content="noarchive" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="news_keywords" content="" />
    <meta property="og:url" content="https://www.bostonglobe.com/2014/08/19/mass-pedestrian-crashes/S93EfexbXWvj7fq8Z2kXEJ/story.html" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="BostonGlobe">
    <meta property="og:image" content="http://c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/logo-bg-small-square.jpg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/globe-basic.css" id="basic-css">
    <!--[if gte IE 6]><link href="/css/html5reset.css,globe-globals.css,globe-masthead.css,globe-nav.css,globe-nav-menus.css,globe-saved.css,globe-main.css,globe-footer.css,globe-print.css" rel="stylesheet"><![endif]-->
    <!--[if !IE]><link href="/css/html5reset.css,globe-globals.css,globe-masthead.css,globe-nav.css,globe-nav-menus.css,globe-saved.css,globe-main.css,globe-footer.css,globe-print.css" rel="stylesheet" media="only all"><![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/globe-trialHeaders.css" id="trial-banner-css">
    <script src="/js/lib/rwd-images.js,lib/respond.min.js,lib/modernizr.custom.min.js,globe-define.js,globe-controller.js"></script>
    <script type="text/javascript" title="https://iconizr.com | © 2014 Joschi Kuphal | MIT">
    ! function() {
        var a = window,
            b = a.document,
            c = arguments,
            d = "createElementNS",
            e = "http://www.w3.org/",
            f = "svg",
            g = function(a) {
                var g = b.getElementsByTagName("script")[0],
                    h = b.createElement("link");
                h.rel = "stylesheet", h.type = "text/css", h.href = c[1 * a | 2 * (b[d] && b[d](e + "2000/" + f, f).createSVGRect && b.implementation.hasFeature(e + "TR/SVG11/feature#Image", "1.1"))], g.parentNode.insertBefore(h, g)
            },
            h = new a.Image;
        h.onerror = function() {
            g(0)
        }, h.onload = function() {
            g(1 === h.width && 1 === h.height)
        }, h.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
    }("/css/icon-png-sprite.css", "/css/icon-png-data.css", "/css/icon-svg-sprite.css", "/css/icon-svg-data.css");
    </script>
    <noscript>
        <link href="/css/icon-png-sprite.css" rel="stylesheet" type="text/css" media="all">
    </noscript>
    <script src="/js/lib/jquery.js,lib/magnific.js,lib/lo-dash-custom-2.4.1.js,globe-modal-meter.js,globe-newsletter.js?v=2.3"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/html5reset.css,globe-globals.css,globe-masthead.css,globe-nav.css,globe-nav-menus.css,globe-saved.css,globe-main.css,globe-footer.css,globe-trialHeaders.css,modal-login.css,globe-polldaddy.css,article.css,gallery.css,shame.css,state.css?v=2.3
" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/globe-print.css?v=2.3
" />
    <link rel="stylesheet" type="text/css" href="http://cache.boston.com/multimedia/graphics/projectFiles/lib/css/0.0.3/common.css" />
    <link rel="stylesheet" type="text/css" href="http://cache.boston.com/multimedia/graphics/projectFiles/lib/css/0.0.3/igraphic.css" />
    @@include('html/css.html')
    <!-- webtype is igraphic section is  adPageType other oas_sitepage -->

    <!--  lowestRank:  taxonomy:  section:  -->

    <!-- admode:  smode  -->
    <!-- section is empty using default value-->
    <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
        var gads = document.createElement("script");
        gads.async = true;
        gads.type = "text/javascript";
        var useSSL = "https:" == document.location.protocol;
        gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
        var node = document.getElementsByTagName("script")[0];
        node.parentNode.insertBefore(gads, node);
    })();
    </script>



    <script>
    globe.dfp.keyValuePairs = {
        s1: 'bostonglobe.com',
        s2: 'metro',
        s3: '',
        s4: '',
        pgtype: 'other',
        pageurl: '_2014_08_19_mass-pedestrian-crashes_S93EfexbXWvj7fq8Z2kXEJ_story_html',
        freetrial: "n",
        logstat: "n",
        sub: "n",
        meta: "",
        weather: "",
        temp: ""
    }
    globe.dfp.adUnit = 'bostonglobe.com/metro';
    </script>
    <script src="//cdn.optimizely.com/js/124489811.js"></script>
    <script type="text/javascript">
    var aam_optimizely = function(data) {
        var json = JSON.stringify(data, undefined, 2),
            obj = JSON && JSON.parse(json) || window.jQuery.parseJSON(json);

        for (var i = 0; i < obj.stuff.length; i++) {
            var current = obj.stuff[i];

            if (current.cn == "aam_optimizely") {
                var audiences = current.cv;
                if (audiences) {
                    window['optimizely'] = window['optimizely'] || [];
                    var segArray = audiences.split('aam=')[1].
                    split(',');

                    for (var j = 0; j < segArray.length; j++) {
                        window['optimizely'].push(['addToSegment', segArray[j]]);
                        window['optimizely'].push(['trackEvent', window.location.href]);
                    }
                }
            }
        }
    }
    var getAudiences = function() {
        var url = 'http://bostonglobe.demdex.net/event?d_stuff=1&d_dst=1&d_rtbd=json&d_cb=aam_optimizely';
        var tempScriptTag = document.createElement('script');

        tempScriptTag.type = 'text/javascript';
        tempScriptTag.src = url;
        document.head.appendChild(tempScriptTag);
    }
    getAudiences();
    </script>
</head>

<body itemscope itemtype="http://schema.org/WebPage" class="type-internal section-metro">


    <!-- empty statusBar  -->
    <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113960&p1=BGMessageBar" class="global-bar bar-yellow" onClick="var s=s_gi('nytbostonglobecom,nytbgglobal');s.tl(this,'o','BG Header - Smart Bar');">   
            You can now read 10 articles a month for free. Read as much as you want anywhere and anytime for just 99¢.
</a>
    <div id="contain">

        <!-- Page header -->
        <div class="masthead-spacer"></div>
        <header id="masthead" role="banner">
            <h2 class="logo-bg">
                <a href="/">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/logo-bg.png" alt="The Boston Globe" />
                </a>
            </h2>

            <h1 class="section">
                <a href="/metro">Metro</a>
            </h1>
            <div class="bg-high-value">
                <p>
                    <a class="bostoncom" href="http://www.boston.com/?p1=BGHeader_NonHP_BComLogo">
                        <b>Boston.com</b>
                    </a>
                </p>

                <div class="bg-classifieds mini-menu">
                    <nav>
                        <p class="title">
                            Classifieds
                            <i>:</i>
                        </p>

                        <ul>
                            <li>
                                <a href="http://www.boston.com/cars/?p1=BGHeader_NonHP_Cars">Cars</a>
                            </li>
                            <li>
                                <a href="http://www.boston.com/jobs/?p1=BGHeader_NonHP_Jobs">Jobs</a>
                            </li>
                            <li class="last">
                                <a href="http://www.boston.com/realestate/?p1=BGHeader_NonHP_RE">Real Estate</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /end .classifieds -->
            </div>
            <!-- /end .bg-high-value -->

            <nav class="utils">
                <p class="a11y-only no-border"><a class="top" href="/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp?p1=BGHeader_LogIn" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar27,events';s.linkTrackEvents='event15';s.eVar27='BG Header';s.events='event15';s.tl(this,'o','BG Header - Log In');">Log In</a>
                </p>
                <ul>
                    <li class="headerSubscribeTag no-border">Subscribe:</li>
                    <li class="headerSubscribe mobile-consolidated"><a href="http://digitalaccess.bostonglobe.com/da/2/1?eglobe_rc=WW111946&amp;globe_rc=WW111947&amp;p1=BGHeader_DigitalSubscription" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar25,events';s.linkTrackEvents='event13';s.eVar25='BG Header';s.events='event13';s.tl(this,'o','BG Header - Subscribe');">Subscribe</a>
                    </li>
                    <li class="headerSubscribe"><a href="http://digitalaccess.bostonglobe.com/da/2/1?eglobe_rc=WW111946&amp;globe_rc=WW111947&amp;p1=BGHeader_DigitalSubscription" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar25,events';s.linkTrackEvents='event13';s.eVar25='BG Header';s.events='event13';s.tl(this,'o','BG Header - Subscribe');">Digital</a>
                    </li>
                    <li class="headerSubscribe"><a href="http://homedelivery.bostonglobe.com/hd/control/order/zip/?rc=WW011964&amp;p1=BGHeader_HomeDeliverySubscription" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar25,events';s.linkTrackEvents='event13';s.eVar25='BG Header';s.events='event13';s.tl(this,'o','BG Header - Subscribe');">Home Delivery</a>
                    </li>
                    <li class="my-account logged-out"><a class="top" href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp?p1=BGHeader_LogIn" onClick="var s=s_gi('nytbostonglobecom');s.linkTrackVars='eVar27,events';s.linkTrackEvents='event15';s.eVar27='BG Header';s.events='event15';s.tl(this,'o','BG Header - Log In');">Log In</a>
                    </li>
                </ul>
            </nav>
            <div class="nav-primary">
                <form action="/search" class="search bg-search-primary" method="post">
                    <fieldset>
                        <label for="q">
                            Search
                        </label>
                        <div class="search-inputs">
                            <div>
                                <input type="text" class="search" name="search" id="q" placeholder="Search" />
                                <input type="submit" class="submit" value="Go" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- /end form.search -->
                <!-- root expanded -->
                <nav class="sections" data-menu-content="/Fragment/SysConfig/WebPortal/BostonGlobe/Framework/ajaxsamples/global-nav-menus.jpt">
                    <h2 class="sections-heading">Sections</h2>
                    <ul>
                        <li class="news" data-section="news">
                            <a href="/">News</a>
                        </li>
                        <li class="metro active" data-section="metro">
                            <a href="/metro">Metro</a>
                        </li>
                        <li class="arts" data-section="arts">
                            <a href="/arts">Arts</a>
                        </li>
                        <li class="business" data-section="business">
                            <a href="/business">Business</a>
                        </li>
                        <li class="sports" data-section="sports">
                            <a href="/sports">Sports</a>
                        </li>
                        <li class="opinion" data-section="opinion">
                            <a href="/opinion">Opinion</a>
                        </li>
                        <li class="politics" data-section="politics">
                            <a href="/news/politics">Politics</a>
                        </li>
                        <li class="lifestyle" data-section="lifestyle">
                            <a href="/lifestyle">Lifestyle</a>
                        </li>
                        <li class="magazine" data-section="magazine">
                            <a href="/magazine">Magazine</a>
                        </li>
                        <li class="insiders" data-section="insiders">
                            <a href="/insiders">Insiders</a>
                        </li>
                        <li class="todayspaper" data-section="todayspaper">
                            <a href="/todayspaper">Today's Paper</a>
                        </li>
                        <!-- <li class="my-saved"> <a href="/mysaved"><span class="count"><span>&nbsp;</span></span> 
                    My Saved</a> </li> -->
                    </ul>
                    <h2 class="todays-paper">
                        <a href="/todayspaper">Today&#8217;s Paper</a>
                    </h2>
                    <!-- <h2 class="my-saved"><a href="/mysaved"><span class="count"><span>&nbsp;</span></span> 
                My Saved</a></h2> -->
                </nav>
            </div>
            <nav id="sectionnav-metro" class="section">
                <ul>

                    <li class="" data-section="">
                        <a href="http://www.boston.com/bostonglobe/numbers/lottery.html">Lottery</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/obituaries">Obituaries</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/regionals/north">Globe North</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/regionals/south">Globe South</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/metro/regionals/west">Globe West</a>
                    </li>

                    <li class="" data-section="">
                        <a href="/gettingin">Getting In</a>
                    </li>

                </ul>
            </nav>
        </header>
        <!-- Page header ends -->


        <div class="mod live-update">
        </div>

        <div id="main" role="main">
            <!-- igrpahic DEFAULT -->
            <!--  Left Navigation Section -->
            <nav id="section-nav" class="section-nav " data-sectionname="">
                <div class="ad ad" id="SPONSOR1"></div>
                <h1>
                    <b>In this section</b>
                    <i>:</i>
                    <a href="#"></a>
                </h1>
            </nav>

            <!-- In Story Photo Section -->
            <div class="article">
                <!--  Headline Section -->
                <header>
                    <div class="header new">
                        <p class="hed-cat"></p>
                        <h1 class="main-hed"><%= graphicName %></h1>
                        <h2 class="subhed"></h2>
                    </div>
                    <!-- byline section -->
                    <div class="byline">
                        </p>
                    </div>







                </header>


                <!-- By Line Section -->
                <div class="byline">
                    <!-- web pub date August 19, 2014 -->

                    &nbsp; August 19, 2014</p>
                </div>







                <div class="article-body">

                    @@include('html/html.html')
                    @@include('html/js.html')

                </div>



                <div class="aside">
                    <a href="/magazine/2014/10/08/the-day-screen-time-diet/XDmzilsTCCE6mL1tD4SniN/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/03/BostonGlobe.com/Magazine/Images/mag1012screenA1.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">The 7-day screen time diet</h2>
                            <div class="article-body">
                                <p>
                                    <p>Can a single week away from computers, smartphones, and other digital devices really make a difference to kids&rsquo; brains?</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/magazine/2014/10/08/top-chef-judge-gail-simmons-toasts-boston/Vm0NuiWimNgmrkUSFsiG7O/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/07/BostonGlobe.com/Magazine/Images/GailSimmons_AuthorPhoto1_Credit%20Melanie%20Dunea.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">‘Top Chef’ judge Gail Simmons toasts Boston</h2>
                            <div class="article-body">
                                <p>
                                    <p>The food expert, also an entrepreneur in residence at Babson College, readies for the kickoff of the show's 12th season, filmed locally.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/arts/theater-art/2014/10/08/unsettling-echoes-new-rep-intense-assassins/rHvPRXQv94uw29vIhU8VzO/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/06/BostonGlobe.com/Arts/Images/Web_308_Assassins.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Unsettling echoes in New Rep’s intense ‘Assassins’</h2>
                            <div class="article-body">
                                <p>
                                    <p>New Repertory Theatre&rsquo;s compelling production depicts killers and would-be killers of presidents across American history.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/business/2014/10/07/apple-orchards-report-harvest-down-this-fall/Xp9T7Iz8qZllHnxyl7HNhP/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/Business/Images/leung-4499.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Apple orchards report harvest is down this fall</h2>
                            <div class="article-body">
                                <p>
                                    <p>After a bumper crop in 2013, many apple orchards across the region are having an off year and will end the picking season earlier than usual.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/metro/2014/10/07/baker-stance-global-warming-during-meeting-recalled-environmentalists/psmr0YUJyeOg5g34cIyWaO/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/Metro/Images/baker150-10164.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Environmentalists recall changes in Baker’s position on climate change</h2>
                            <div class="article-body">
                                <p>
                                    <p>Attendees at a 2010 meeting say Charlie Baker said he believed climate change was not the result of human causes.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/metro/2014/10/07/gubernatorial-rivals-spar-over-child-agency-health-care/po4xY99bsacrCuBOhJ8JnK/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/Metro/Images/coakley150-10161.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Gubernatorial rivals spar over child agency, health care</h2>
                            <div class="article-body">
                                <p>
                                    <p>The gubernatorial front-runners argued over the state&rsquo;s troubled child protection system and spiraling health care costs.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/opinion/2014/10/07/the-edge-goes-baker/33Mb1hv8RSv2chdGJdLDvJ/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/EditorialOpinion/Images/lehigh-1189.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">The edge goes to Charlie Baker</h2>
                            <div class="article-body">
                                <p>
                                    <p>Using the background of Beacon Hill&rsquo;s well-documented problems, Baker underscored the need for better management.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/news/nation/2014/10/07/with-focus-iraq-and-syria-air-war-heats-afghanistan-amid-drawdown/to9wunctlsgw8LV1dJ0XtL/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-content">
                            <h2 class="title-tease">US intensifies Afghan airstrikes as drawdown nears</h2>
                            <div class="article-body">
                                <p>
                                    <p>As the US and its allies began launching airstrikes against ISIS in August, another &mdash; less public &mdash; air war was also heating up.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/metro/2014/10/07/liberians/Fi6p1vSgDXWrUXI3GX7DtO/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/Metro/Images/island150-10171.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Ebola weighs on Rhode Island’s Liberians</h2>
                            <div class="article-body">
                                <p>
                                    <p>In the vibrant Liberian community, one of the nation&rsquo;s largest, the Ebola epidemic has spurred charity, grief, and fear.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/news/nation/2014/10/07/ebola-crisis-sparking-sharp-political-rhetoric/BIuh7i7UVsvA4DDgz2ahQM/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/07/BostonGlobe.com/National/Images/2014-08-10T011038Z_1888691195_GM1EA8A0PDJ01_RTRMADP_3_USA-POLITICS.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Political talk adds to Ebola apprehension</h2>
                            <div class="article-body">
                                <p>
                                    <p>The rhetoric spreading fears about an American outbreak comes just weeks before the midterm elections.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/lifestyle/food-dining/2014/10/07/when-tables-are-turned/Pt5rb7CHgbjyg4XKRkIDwN/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/09/11/BostonGlobe.com/Lifestyle/Images/kreiter_opendoor6_g.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Food pantry closes the ‘meal gap’</h2>
                            <div class="article-body">
                                <p>
                                    <p>While coping with illness and unemployment, a former professional chef turns to The Open Door to help feed his family.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/metro/2014/10/07/baker-coakley-agree-core-environmental-issues-disagree-specifics/5EinhgBOZ2F8OZHJNBKnqK/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-content">
                            <h2 class="title-tease">On environmental issues, candidates agree on core issues, disagree on specifics</h2>
                            <div class="article-body">
                                <p>
                                    <p>Martha Coakley and Charlie Baker share many environmental views, but not all of them.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/news/nation/2014/10/07/health-providers-expand-their-ebola-precautions/J21Yo3SDBO1umKnKWYEdEK/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-content">
                            <h2 class="title-tease">US health providers expand their Ebola precautions</h2>
                            <div class="article-body">
                                <p>
                                    <p>There hasn&rsquo;t been a single confirmed case of an Ebola infection happening on US soil, but health care providers are worried enough to take a wide variety of precautions.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/lifestyle/food-dining/2014/10/07/after-years-bistro-west-medford-still-neighborhood-standby/HDkanZWrE32uRuCO0N9m0I/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/03/BostonGlobe.com/Lifestyle/Images/greenhouse_08dine-1_lifestyle.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Bistro 5 is still a neighborhood standby</h2>
                            <div class="article-body">
                                <p>
                                    <p>After 15 years, West Medford is lucky to get to keep coming back to Vittorio Ettore&rsquo;s bistro.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/opinion/2014/10/07/running-from-word/NIR6sryjM7Jv4I3aMRR1JL/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/EditorialOpinion/Images/jacoby-1192.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Running from the ‘R’ word</h2>
                            <div class="article-body">
                                <p>
                                    <p>Charlie Baker&rsquo;s campaign is so clearly built on a strategy of being the sort of Republican Mass. voters can feel comfortable supporting.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/sports/2014/10/07/top-line-duty-sounds-fine-bruins-loui-eriksson/ZE27mnnLNd2U7IIcYyQMSI/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/Sports/Images/9a410d92356f4a5693bbe98c156fb59f-9a410d92356f4a5693bbe98c156fb59f-0[1]--90x90.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Loui Eriksson ready for Bruins’ top line</h2>
                            <div class="article-body">
                                <p>
                                    <p>If coach Claude Julien puts him with David Krejci and Milan Lucic, Eriksson believes it will be a good fit.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/metro/2014/10/07/mayor-martin-walsh-threatens-veto-proposed-city-council-pay-raise/1ol3N81bO8pACrpWAqFVnO/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/Metro/Images/walsh150-10168.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Walsh threatens to veto City Council pay raise</h2>
                            <div class="article-body">
                                <p>
                                    <p>On the eve of an expected vote, Mayor Walsh said that the raise is too large.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/news/world/2014/10/07/turkish-inaction-islamic-state-advance-dismays/X59PHSZmeVGjYzmPQk8pmI/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/08/BostonGlobe.com/National/Images/TS-Par7995630.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Turkey’s reluctance to join ISIS fight raises tensions</h2>
                            <div class="article-body">
                                <p>
                                    <p>Turkey&rsquo;s president wants the US to agree to give greater support to rebels trying to unseat the Syrian president, Bashar Assad.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/news/nation/2014/10/07/the-new-dynamics-protecting-president-most-threats-against-obama-issued-online/hKlwD4yVS7aKv3n73YEevJ/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/07/BostonGlobe.com/National/Images/aa97a78d615b4b65a73622594e330f73-42c620763a6c4a9da59852992ea09346-0.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Online threats to Obama rise, challenging Secret Service</h2>
                            <div class="article-body">
                                <p>
                                    <p>Lawmakers and private security officials question whether the Secret Service has sufficiently adapted to a new social-media landscape.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/business/2014/10/07/fda-commissioner-tells-medtech-execs-her-agency-trying-speed-approval-new-products/rnzR99dVnDNwBuLrrG4l2J/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/06/10/BostonGlobe.com/Wires/APOnlineImages/2014-06-10/8da572e8af2baf16560f6a706700ee8b.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">FDA aiming to speed OK of medical devices</h2>
                            <div class="article-body">
                                <p>
                                    <p>The number of medical devices entering the market under the FDA&rsquo;s &ldquo;pre-market approval&rdquo; process tumbled from 41 in 2012 to 23 last year.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

                <div class="aside">
                    <a href="/metro/2014/10/07/trial-tsarnaev-friend-robel-phillipos-enters-second-day-district-court-boston/HPmGEG3HEZo2YpKCQwDT4O/story.html?p1=Article_InThisSection_Bottom">
                        <div class="aside-image">
                            <i class="figure rel"><img src="//c.o0bg.com/rf/image_90x90/Boston/2011-2020/2014/10/07/BostonGlobe.com/Metro/Images/robel150-10171.jpg"/></i>
                        </div>
                        <div class="aside-content">
                            <h2 class="title-tease">Former classmate a key witness in trial of Tsarnaev friend Robel Phillipos</h2>
                            <div class="article-body">
                                <p>
                                    <p>Azamat Tazhayakov said he agreed to speak in exchange for a reduced sentence on his convictions.</p>
                                </p>
                            </div>
                        </div>
                    </a>



                </div>

            </div>
        </div>
        <!-- Page footer -->
        <footer class="bg-footer">
            <div class="lead">
                <nav>
                    <h3 class="bg-footer__lead-menu__heading">Learn more</h3>
                    <ul>
                        <li><a href="https://digitalaccess.bostonglobe.com/da/2/1?eglobe_rc=WW111927&globe_rc=WW111945">Subscribe</a>
                        </li>
                        <li><a href="/insiders">Boston Globe Insiders</a>
                        </li>
                        <li><a href="http://epaper.bostonglobe.com/">EPaper Edition</a>
                        </li>
                        <li><a href="http://nieonline.com/bostonglobe/">News in education</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="sub">
                <nav>
                    <h3 class="bg-footer__sub-menu__heading">My Account</h3>
                    <ul>
                        <li><a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp">Log in</a>
                        </li>
                        <li>
                            <a href="/mysaved">
                                <span class="count">
                                    <span>&nbsp;</span>
                                </span>My Saved List</a>
                        </li>
                        <li><a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/mc-login.jsp?redirect=manage">Manage home delivery</a>
                        </li>
                        <!-- BGLOBE-3350 in progress... -->
                        <li><a href="https://itunes.apple.com/us/app/boston-globe-customer-service/id842897634?mt=8">Manage on iPhone</a>
                        </li>
                    </ul>
                </nav>
                <nav class="even">
                    <h3 class="bg-footer__sub-menu__heading">Contact</h3>
                    <ul>
                        <li><a href="https://bostonglobe.custhelp.com/app/home">Help</a>
                        </li>
                        <li><a href="https://bostonglobe.custhelp.com/app/answers/list">FAQs</a>
                        </li>
                        <li><a href="/tools/help/stafflist">Globe newsroom</a>
                        </li>
                        <li><a href="http://services.bostonglobe.com/advertiser/default.aspx">Advertise</a>
                        </li>
                    </ul>
                </nav>
                <nav class="opt">
                    <h3 class="bg-footer__sub-menu__heading">Social</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/globe">Facebook</a>
                        </li>
                        <li><a href="https://twitter.com/#!/BostonGlobe">Twitter</a>
                        </li>
                        <li><a href="https://plus.google.com/108227564341535363126/about">Google+</a>
                        </li>
                    </ul>
                </nav>
                <nav class="even last">
                    <h3 class="bg-footer__sub-menu__heading">More</h3>
                    <ul>
                        <li><a href="https://secure.pqarchiver.com/boston-sub/no_default.html?ss=1&url=%2Fboston-sub%2Fadvancedsearch.html">Archives</a>
                        </li>
                        <li><a href="/tools/help/privacy">Privacy policy</a>
                        </li>
                        <li><a href="/tools/help/terms-service">Terms of service</a>
                        </li>
                        <li><a href="/tools/help/terms-purchase">Terms of purchase</a>
                        </li>
                        <li><a href="http://www.bostonglobe.com/2014/03/07/your-choices/dwLYdic9FdW82vCiUsS4eL/story.html">Your Ad Choices</a>
                        </li>
                        <li><a href="http://www.boston.com/digitaljobs/">Digital Jobs at Boston Globe Media</a>
                        </li>
                        <li><a href="https://services.bostonglobe.com/aboutus/career/default.aspx?id=7098">View All Jobs at BGM</a>
                        </li>
                    </ul>
                </nav>
                <p class="bg-copy">&copy; 2014 Boston Globe Media Partners, LLC</p>
            </div>
        </footer>
        <div style="display:none;">

            <!-- Start small meter popup - first story visit -->
            <div id="modal_1" class="meter-modal-block">
                <div class="meter-modal-sub-panel clearfix-firefox">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel">
                    <h2 class="meter-modal-text">Enjoy your first free article</h2>
                    <h1 class="meter-modal-text">
                        You can now read 10 free articles.
                        <br>
                        <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113959" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 1 Offer');">
                            </br>Get unlimited access</a>for just 99&cent;.
                    </h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->
            <!-- Start small meter popup - 5 articles -->
            <div id="modal_5" class="meter-modal-block">
                <div class="meter-modal-sub-panel clearfix-firefox">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel">
                    <h2 class="meter-modal-text">You have read
                        <span class="bold">5 of 10</span>free articles in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113962" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 5 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->

            <!-- Start small meter popup - 7 articles -->
            <div id="modal_7" class="meter-modal-block">
                <div class="meter-modal-sub-panel clearfix-firefox">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel">
                    <h2 class="meter-modal-text">You have read
                        <span class="bold">7 of 10</span>free articles in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113966" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 7 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->

            <!-- Start small meter popup - 9 articles -->
            <div id="modal_9" class="meter-modal-block">
                <div class="meter-modal-sub-panel">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel clearfix-firefox">
                    <h2 class="meter-modal-text">You have read
                        <span class="bold">9 of 10</span>free articles in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113968" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 9 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->

            <!-- Start small meter popup - 10 articles -->
            <div id="modal_10" class="meter-modal-block">
                <div class="meter-modal-sub-panel">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/White-B-Logo-non-transparent.jpg" alt="Boston Globe Logo" />
                </div>
                <!-- end sub-panel -->
                <div class="meter-modal-close"><a href="#" class="meter-close">X</a>
                </div>
                <div class="meter-modal-main-panel clearfix-firefox">
                    <h2 class="meter-modal-text">This is your last free article in a month.</h2>
                    <h1 class="meter-modal-text"><a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113969" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 10 Offer');">Continue reading</a> with unlimited access for just 99&cent;</h1>
                    <p class="meter-modal-text">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter Login');">Log In</a>
                    </p>
                </div>
                <!-- end main-panel -->
            </div>
            <!-- end meter-popup -->
            <!-- end small meter popup -->


            <div id="modal_takeover" class="white-popup-block paywall-square-meter">
                <div class="inner">
                    <div class="header-text">
                        <button title="Close (Esc)" type="button" class="mfp-close" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 2 - Close')">×</button>

                        <h1>Read it all, now.</h1>
                    </div>
                    <div class="tease-text">
                        <p>Don't miss any of your favorite stories again. Read the stories that matter to you as much as you want, whenever you want when you subscribe to BostonGlobe.com.</p>

                        <p class="meter-bold">Get full access today for just 99¢</p>

                    </div>
                    <div class="paywall-clearfix"></div>
                    <footer>

                        <div class="button-section">
                            <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113967" title="desktop" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Meter 2 - Get Access Now')">
                                <button class="paywall-full-access-button">SIGN UP</button>
                            </a>
                        </div>
                        <div class="paywall-logo-img">
                            <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Globe-Logo-non-transparent.jpg">
                        </div>

                        <p>No thanks, <a href="#">take me to my article</a>.</p>

                        <p> <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" alt="mobile" onclick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Login');">Subscribers log in here</a>
                        </p>




                    </footer>
                </div>
            </div>
        </div>


    </div>
    <div id="meter-limit-met-popup" class="mfp-hide white-popup-block paywall-square-meter">

        <div class="paywall-section-1">
            <h1>You have reached the limit of 10 free articles in a month</h1>
            <p class="paywall-mobile-link">Continue reading by subscribing to BostonGlobe.com for <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113971" alt="mobile" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Offer');">just 99&cent;</a>.</p>

            <p class="paywall-desktop-link">Continue reading by subscribing to BostonGlobe.com for <a href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113971" alt="desktop" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Paywall Offer');">just 99&cent;</a>.</p>
        </div>
        <div class="paywall-section-2">
            <div class="list-section">
                <h2>Stay informed with unlimited access to Boston’s trusted news source.</h2>
                <ul>
                    <li>High-quality journalism from the region’s largest newsroom</li>
                    <li>Convenient access across all of your devices</li>
                    <li>Today’s Headlines daily newsletter</li>
                    <li>Subscriber-only access to exclusive offers, events, contests, eBooks, and more</li>
                    <li class="bold">Less than 25&#162; a week</li>
                </ul>
            </div>
            <!-- /list section -->

            <div class="image-section">
                <div class="paywall-main-device-img">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Device-LockUp-non-transparent.jpg">
                </div>
            </div>
            <!-- /image-section -->
        </div>
        <!-- /paywall-section-2 -->

        <div class="paywall-clearfix"></div>

        <div class="paywall-section-3">
            <div class="button-section">
                <a class="paywall-desktop-link" href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113972" alt="desktop" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Paywall Get Access');">
                    <button class="paywall-full-access-button">GET FULL ACCESS NOW</button>
                </a>

                <a class="paywall-mobile-link" href="http://digitalaccess.bostonglobe.com/da/33/?eglobe_rc=WW113972" alt="mobile" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Get Access');">
                    <button class="paywall-full-access-button">GET FULL ACCESS NOW</button>
                </a>
            </div>
            <div class="logo-section">
                <div class="paywall-logo-img">
                    <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Globe-Logo-non-transparent.jpg">
                </div>
                <p class="paywall-desktop-link">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" alt="desktop" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Modal Paywall Login');">Log In</a>
                </p>

                <p class="paywall-mobile-link">Subscriber <a href="https://www.bostonglobe.com/eom/SysConfig/WebPortal/BostonGlobe/Framework/regi/final-login.jsp" alt="mobile" onClick="var s=s_gi('nytbostonglobecom');s.tl(this,'o','BG Fullpage Paywall Login');">Log In</a>
                </p>
            </div>
            <!-- /logo-section -->
        </div>
        <!-- /paywall-section-3  -->
        <div class="paywall-clearfix"></div>

        <div class="paywall-section-4">
            <div class="paywall-main-device-img-bottom">
                <img src="/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/Device-LockUp-Mobile-non-transparent.jpg">
            </div>
        </div>
        <!--  -->
    </div>
    <!-- end paywall modal -->

    <div class="ad ad-slot-c" id="EXTRA"></div>
    <!-- Tracking -->
    <!-- stubView3 =  -->
    <!--  Webtype is igraphic -->










    <!-- sectionpath  -->



    <!-- Determine sprop_3 -->







    <script>
    var sPageName = ' | <%= graphicName %> | Infographic';
    var sChannel = '';
    var sProp1 = '';
    var sProp3 = '';
    var sProp6 = 'Infographic';
    if (methode.showPaywall) {
        sChannel = 'Member Center';
        sProp1 = 'Member Center | BGC Registration';
        if ($(window).width() <= 768) {
            // assume mobile 
            sPageName = 'Member Center | BGC Registration | Fullpage Paywall Challenge';
            sProp6 = 'BGC Registration Page - Fullpage';
        } else {
            // assume desktop
            sPageName = 'Member Center | BGC Registration | Modal Paywall Challenge';
            sProp6 = 'BGC Registration Page - Modal';
        }
    }
    globe.extend(globe.analytics.omniture, {
        'pageType': '',
        'pageName': sPageName,
        'channel': sChannel,
        'prop1': sProp1,
        'prop3': sProp3,
        'prop6': sProp6,

        'prop35': 'logged out',
        'eVar20': 'logged out',
        'prop42': 'Metered',
        'eVar42': 'Metered',

        'eVar41': 'BostonGlobe.com',
        'prop41': 'BostonGlobe.com',
        'WT omnituretracking.tag': 'igraphic'
    });
    </script>

    <noscript>
        <img src="http://newyorktimes.112.2o7.net/b/ss/nytbostonglobecom/1/H.23.3--NS/0?pageName=News%20%7C%20BGC%20Homepage&amp;ch=News&amp;c1=News%20%7C%20BGC%20Homepage&amp;c6=BGC%20Homepage&amp;c41=BostonGlobe.com&amp;v41=BostonGlobe.com" height="1" width="1" border="0" alt="" />
    </noscript>

    </div>
</body>

</html>
