/* line 1, ../styles/globe-trialHeaders.scss */
body.type-internal div#contain {
  margin-top: 20px;
}

/* line 4, ../styles/globe-trialHeaders.scss */
.trial-promo {
  border: 1px solid #dbdbdb;
  background: #ededed;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  z-index: 999;
}

/* line 13, ../styles/globe-trialHeaders.scss */
.trial-promo-inner {
  border: 1px solid #dbdbdb;
  background: white;
  padding: 5px 7px 4px 15px;
}

/* line 19, ../styles/globe-trialHeaders.scss */
.trial-promo-image {
  display: none;
}

/* line 23, ../styles/globe-trialHeaders.scss */
.trial-promo-text {
  font-family: "Benton Sans Bold", Arial, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
  line-height: 15px;
  font-size: 11px;
  text-align: center;
}

/* line 32, ../styles/globe-trialHeaders.scss */
.trial-promo-text a {
  color: black;
}

/* line 36, ../styles/globe-trialHeaders.scss */
.trial-promo-text em {
  color: #a71313;
  font-style: normal;
}

@media screen and (max-width: 480px) {
  /* line 42, ../styles/globe-trialHeaders.scss */
  .trial-promo-text {
    line-height: 1.4em;
  }

  /*	.trial-promo-image{
  		left:-2000px;
  	}*/
}
@media screen and (min-width: 600px) {
  /* line 56, ../styles/globe-trialHeaders.scss */
  .trial-promo-text {
    line-height: 17px;
    font-size: 14px;
  }

  /* line 60, ../styles/globe-trialHeaders.scss */
  body.type-internal .trial-promo {
    margin-bottom: 10px;
  }

  /* line 63, ../styles/globe-trialHeaders.scss */
  .trial-promo {
    margin: 10px auto 10px;
    width: 93.75%;
    /* 960/1024 */
  }
}
@media screen and (min-width: 750px) {
  /* line 70, ../styles/globe-trialHeaders.scss */
  .trial-promo-text {
    line-height: 31px;
    font-size: 20px;
  }

  	/*	
  	.trial-promo-image {
  		float: right;
  		display:inline;
  		
  	}
  */
}
@media screen and (min-width: 1400px) {
  /* line 85, ../styles/globe-trialHeaders.scss */
  .trial-promo {
    width: 1232px;
  }
}
