#main .article div.article-body {
	width: 100%;
	margin-top: 0;
}

.header {
	visibility: hidden;

	&.visible {
		visibility: visible;
	}

	.main-hed,
	.subhed {
		text-align: center;
	}

	.subhed {
		a {
			text-decoration: underline;
		}
	}
}

.section-nav,
.aside,
aside.tools,
.byline,
a.global-bar,
a.bar-yellow,
.mfp-bg,
.mfp-ready,
.mfp-wrap {
	display: none !important;
}

#masthead,
.masthead-stuck #masthead {
	position: absolute;
	width: 100%;
	margin: 0;
	border: none;
}

.touch body.type-internal div#contain {
	margin-top: 0;
}