#main .article div.article-body {
	width: 100%;
	margin-top: 0;
}

.header .main-hed,
.article .subhed {
	text-align: center;

	a {
		text-decoration: underline;
	}
}

.section-nav {
	display: none;
}

.article > .byline,
.article header .byline {
	display: none;
}

.aside {
	display:none;
}

a.global-bar,
a.bar-yellow {
	display: none !important;
}